<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KTTKPM"
        tools:targetApi="31">
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.quanly.QuanLyKhachActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.kyhopdong.KiHopDongActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.kyhopdong.DanhSachNhaDangKiActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.quanly.ChiTietKhachActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.quanly.ThemNhaActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.quanly.ThemKhachActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.quanly.ChiTietNhaActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.quanly.SuaKhachActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.kyhopdong.ChonNhaActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".activity.kyhopdong.ChonDichVuActivity"
            android:exported="false">

        </activity>

    </application>

</manifest>